<div class='empty-state'>
  <p class='empty-state__text'>
    You don't have any quotes yet!<br>
  </p>

  <%= link_to 'Add Quote', new_quote_path, class: "btn btn--primary empty-state__btn" %>
</div>
